<main>
    <h1 class="text-center text-uppercase">всіс великі world</h1>
    <h2 class="text-end text-lowercase"> Second</h2>
    <h3 class="text-capitalize">Кожне слово з великої</h3>

    <hr>
    <div class="display-1 text-muted">Hello world</div>
    <div class="display-5">Second</div>
    <div class="display-6">Third</div>

    <hr>

    <div>
        <span class="text-muted" "text-end"> Додатковий текст</h2>
    </div>
    <hr>


    <button class="btn btn-primary">Test button</button>{{!звичайна кнопка синя головна }}
    <hr>

    <button class="btn btn-primary">
        <span class="text-uppercase">Button primary</span>
    </button>{{!звичайна кнопка синя головна але великими літерами }}

    <hr>
    <button class="btn btn-secondary">
        <span class="text-uppercase">Button primary</span>
    </button>{{!звичайна кнопка CІРА головна але великими літерами }}

    <hr>
    <button class="btn btn-success">
        Button primary
    </button>{{!ЗЕЛЕНА підтверджуюча(зберегти або підтвердити) головна але стоковими літерами }}

    <hr>
    <button class="btn btn-danger">
        Button primary
    </button>{{!Червона небезпечна (видалити) головна але стоковими літерами }}

    <hr>
    <button class="btn btn-warning">
        Button primary
    </button>{{!Жовта попередження (перевірити щось) головна але стоковими літерами }}

    <hr>
    <button class="btn btn-info">
        Button primary
    </button>{{!Блакитна інформативна (при натискуванні вилазить якась інфа) головна але стоковими літерами }}

    <hr>
    <button class="btn btn-light">
        Button primary
    </button>{{!Майже прозора при наведенні сіріє (для неважливої додаткової інформації) сртоковими літерами }}

    <hr>
    <button class="btn btn-dark">
        Button primary
    </button>{{!Чорна головна але стоковими літерами }}

    <hr>
    <button class="btn btn-link">
        Button primary
    </button>{{!Підчеркнуте посилання але стоковими літерами }}
    {{!як посилання правильно нижче }}
    <a href="#" class="btn btn-online-link">
        Button primary
    </a>{{!Підчеркнуте посилання але стоковими літерами }}

    <br>
    <hr>
    Текст у кольорі:
    <hr>

    <p class="text-primary">My text</p>
    {{!Синій строковий текст }}
    <hr>
    <p class="text-secondary">My text</p>
    <p class="text-muted">My text</p>
    {{!Cірий строковий текст muted трошки темніше }}

    <hr>
    <p class="text-success">My text</p>
    {{!Зелений строковий текст(можнна вик на повідомл товар додано)}}

    <hr>
    <p class="text-danger">My text</p>
    {{!червоний строковий текст (попередження про щось термінове) }}

    <hr>
    <p class="text-warning">My text</p>
    {{!Жовтий строковий текст (попередження) }}

    <hr>
    <p class="text-info">My text</p>
    {{!Блакитний строковий текст (проінформувати) }}

    <hr>
    <p class="text-light">My text</p>
    {{!Білий строковий текст }}

    <hr>
    <p class="text-dark">My text</p>
    {{!чорний як по замовчуванням строковий текст}}

    <br>
    <hr>
    Кнопки з тіньовим контуром без заливки:
    <hr>

    <button class="btn btn-outline-primary">My button</button>
    {{! другорядна але основна. прозора кнопка синя рамка і текст ( при наведенні зафарб.)}}

    <hr>
    <button class="btn btn-outline-secondary">My button</button>
    {{! другорядна але основна. прозора кнопка CІРА рамка і текст ( при наведенні зафарб.)}}

    <hr>
    <button class="btn btn-outline-success">My button</button>
    {{! другорядна але основна. прозора кнопка Зелена рамка і текст ( при наведенні зафарб.)}}

    <hr>
    <button class="btn btn-outline-danger">My button</button>
    {{! другорядна але основна. прозора кнопка ЧЕРВОНА рамка і текст ( при наведенні зафарб.)}}

    <hr>
    <button class="btn btn-outline-warning">My button</button>
    {{! другорядна але основна. прозора кнопка ЖОВТА рамка і текст ( при наведенні зафарб.)}}

    <hr>
    <button class="btn btn-outline-info">My button</button>
    {{! другорядна але основна. прозора кнопка БЛАКИТНА рамка і текст ( при наведенні зафарб.)}}

    <hr>
    <button class="btn btn-outline-light">My button</button>
    {{! другорядна але основна. прозора кнопка ПРОЗОРА рамка і текст ( при наведенні зафарб.)}}

    <hr>
    <button class="btn btn-outline-dark">My button</button>
    {{! другорядна але основна. прозора кнопка ЧОРНА рамка і текст ( при наведенні зафарб.)}}

    <br>
    <hr>
    Кнопки РОЗМІР:
    <hr>


    <button class="btn btn-secondary btn-lg">My button</button>
    {{!велика }}
    <button class="btn btn-secondary btn-sm">My button</button>
    {{!мала }}
    <button class="btn btn-secondary">My button</button>
    {{!стандартна }}

    <br>
    <hr> BOX, або рамка/картка для контенту
    <hr>
    <div class="card">
        <div class="card-body"> {{!якщо не буде цього рядка контент прижимається до краю }}
            This is content
        </div>
    </div>

    <hr>

    <div class="card">
        <div class="card-body">
            <button class="btn btn-secondary btn-lg">My button</button>
            <button class="btn btn-secondary btn-sm">My button</button>
            <button class="btn btn-secondary">My button</button>
        </div>









</main>