<main class="p-5">
    <div class="row g-5">
         {{!-- список з галочками --}} 
          <div class="col-12">
            <label class="form-label">Select food</label> 

            <div class="form-check">
                <label class="form-check-label">Apple</label>
                <input name="food" type="checkbox" class="form-heck-input">
            </div>
             <div class="form-check">
                <label class="form-check-label">Orange</label>
                <input name="food" type="checkbox" class="form-heck-input">
            </div>
             <div class="form-check">
                <label class="form-check-label">Banana</label>
                <input name="food" type="checkbox" class="form-heck-input">
            </div>

          </div>
           {{!-- лише один пункт точечка --}} 
           <div class="col-12">
            <label class="form-label">Select food</label> 

            <div class="form-check">
                <label class="form-check-label">Apple</label>
                <input name="food" type="radio" class="form-heck-input">
            </div>
             <div class="form-check">
                <label class="form-check-label">Orange</label>
                <input name="food" type="radio" class="form-heck-input">
            </div>
             <div class="form-check">
                <label class="form-check-label">Banana</label>
                <input name="food" type="radio" class="form-heck-input">
            </div>

          </div>
           {{!-- перемикач --}} 
           <div class="col-12">
            <label class="form-label">Select food</label> 

            <div class="form-check form-switch">
                <label class="form-check-label">Apple</label>
                <input name="food" type="checkbox" class="form-heck-input">
            </div>
             <div class="form-check form-switch">
                <label class="form-check-label">Orange</label>
                <input name="food" type="checkbox" class="form-heck-input">
            </div>
             <div class="custom-control custom-switch">
                <input type="checkboox" class="custom-control-input" id="customSwith1">
                <label class="custom-control-label" for="customSwith1">
                    Toggle this switch element</label>
            </div>
          </div>
    </div>
</main>
<main class="p-5">
    <div class="row g-5">



            <br>
            <hr>
            <br>
            {{!-- Вмпливаючий список --}} 
         <div class="col-12">
            <label class="form-label">Email address</label> 
            <input class="form-control">
            <div class="form-text text-danger">Error, You need to set correct email</div>
        </div>
        <div class="col-12">
            <label class="form-label">Select role</label> 
            <select class="form select form-select-lg">
            <option selected>Open list</option>
            <option value="1">admin</option>
            <option value="2">user</option>
            </select>
        </div>









        <hr>

       
        <div class="col-12">
            <div class="row">
                <div class="col-2 pt-1"> 
                    <label class="form-label">Email address</label>
                </div>
                <div class="col-2">
                    <input class="form-control form-control-sm">
                </div>
                    <div class="col-2">
                </div>
                <div class="col-8 ps-5"> 
                    <div class="form-text text-danger">Error, You need to set correct email</div>
                </div>
            
             </div>
        </div>












        <div class="col-12">
            <label class="form-label">Email address</label>
            <div class="row">
                <div class="col-2"> {{!--розмір--}}
                <input type="color" class="form-control">
               {{!--зафарбовує --}}
            </div>
             <div class="col-2"> {{!--розмір--}}
                <input type="color" class="form-control">
               {{!--зафарбовує --}}
            </div>
            </div>
             <div class="form-text text-danger">Error, You need to set correct email</div>
        </div>
        <div class="col-12">
            <label class="form-label">Email address</label>
             <input type="color" class="form-control">
               {{!--зафарбовує --}}

             <div class="form-text text-danger">Error, You need to set correct email</div>
        </div>
        <div class="col-12">
            <label class="form-label">Email address</label>
             <input class="form-control">
                {{!-- створює рамку для поля вводу  --}}
             <div class="form-text text-danger">Error, You need to set correct email</div>
                {{!-- текст підказка що саме не так червоний  --}}
        </div>
        <div class="col-12">
            <label class="form-label">Email address</label>
             <input class="form-control">
                {{!-- створює рамку для поля вводу  --}}
             <div class="form-text text-danger">Error, You need to set correct email</div>
                {{!-- текст підказка що саме не так червоний  --}}
        </div>
        <div class="col-12">
            <label class="form-label">Email address</label>
             <input disabled class="form-control">
                {{!-- створює рамку для поля вводу  --}}
             <div class="form-text text-danger">Error, You need to set correct email</div>
                {{!-- текст підказка що саме не так червоний  --}}
        </div>
    </div>
    {{!-- інший варіант  --}} 
    <div class="">
        <div class="mb-5">
            <label class="form-label">Email address</label>
             <input class="form-control">
                {{!-- створює рамку для поля вводу  --}}
             <div class="form-text text-danger">Error, You need to set correct email</div>
                {{!-- текст підказка що саме не так червоний  --}}
        </div>
        <div class="mb-5">
            <label class="form-label">Email address</label>
             <input class="form-control">
                {{!-- створює рамку для поля вводу  --}}
             <div class="form-text text-danger">Error, You need to set correct email</div>
                {{!-- текст підказка що саме не так червоний  --}}
        </div>
        
            <label class="form-label">Email address</label>
             <input class="form-control">
                {{!-- створює рамку для поля вводу  --}}
             <div class="form-text text-danger">Error, You need to set correct email</div>
                {{!-- текст підказка що саме не так червоний  --}}
    </div>




</main>