<div class="card p-3">
    <div class="d-flex justify-content-between align-items-center">
        <h1 class="me-auto">Кривоніс Ірина Іванівна</h1>
        <div class="nav-item">
            <a href="https://github.com/kriirii/resume.git" class="nav-link">Resume project</a>
        </div>
    </div>
</div>
{{!-- тут розміщена шапка резюме --}}